{% extends 'blog/layout.html' %}

{% block content %}
  <header class="masthead" style="background-image: {% static 'blog/img/home-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>


<div class="row">
    <div class="col-md-4">
        <h2>Drft Posts</h2>
        {% for post in posts %}
            <div class="post">
                <p class="date"> 
                    Created: {{ post.created_date|date:'d-m-y'}}
                </p>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
                <p>{{post.text|truncatechars:200}}</p>
            </div>
    </div>

</div>

{% endblock %}