{% extends 'blog/layout.html' %}
{% load staticfiles %}
{% block content %}
<header class="masthead" style="background-image: {% static 'blog/img/home-bg.jpg' %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<div class="post-preview">
    {% for post in post_list %}
          <a href="{% url 'post_detail' pk=post.pk %}">
            <h2 class="post-title">
            {{ post.title }}
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            published on {{ post.published|date:"D M Y" }}</p>
           <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
          </div>
        </div>
      </div>
{% endblock %}